@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/img/Background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Roboto Condensed", sans-serif;
    height: 100%;
    width: 100%;
    color: white;
}

#info-button {
}

    #info-button a {
        color: white;
        font-size: 12px;
        background: #C07548;
        opacity: .8;
    }

        #info-button a:hover {
            opacity: 1;
        }

.main {
}

.title {
}

.container {
    max-width: 1000px;
    min-width: 600px;
    width: 100%;
    margin: 20px auto;
    position: relative;
    background: rgba(77,77,77,.5);
    padding: 50px;
    box-sizing: border-box;
    border-radius: 5px;
}

.line {
    width: 50%;
    border-bottom: 2px solid white;
    margin: 10px auto;
}

.name {
    color: white;
    font-size: 46px;
    font-weight: 800;
    text-align: center;
    text-shadow: 1px 1px 2px black;
    font-family: "Roboto Condensed", sans-serif;
    margin: 0;
    padding: 0;
}

#main-info {
    border-bottom: 4px solid rgba(255,255,255,.6);
    padding: 10px;
}

#img-div {
    margin: 0 auto;
    height: 350px;
    width: 350px;
    border: 6px solid #65a968;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#image {
    max-width: 100%;
    display: block;
    height: auto;
    background-position: center;
    background-size: cover;
}

#img-caption {
}

.main-text {
    text-align: center;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 2px black;
    margin: 5px;
}

.text {
    border: 2px solid white;
    border-left: none;
    height: 240px;
    width: 360px;
    background: #2e2e2e;
    color: white;
}

#img-caption {
}

#tribute-info {
}

#tribute-link {
}

#timeline {
    font-family: "Raleway", sans-serif;
    margin: 0 15px;
    padding: 10px;
    box-sizing: border-box;
    width: auto;
}

.item {
    margin: 20px 0;
    background: rgba(255,255,255,.1);
    background: white;
    color: black;
}

.date {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
    padding: 14px;
    box-sizing: border-box;
    background: #65a968;
    color: white;
}

.timeline-title {
    margin-top: 30px;
    font-size: 36px;
    text-align: center;
    width: 100%;
}

#quotes {
    max-width: 500px;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.2);
    border: 2px solid rgba(255,255,255,1);
    height: 50px;
    border-radius: 8px;
    display: table;
}

#text {
    display: table-cell;
    vertical-align: middle;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    text-align: center;
    letter-spacing: 1.1px;
    text-shadow: 1px 1px 2px black;
}

.info {
    font-family: Tahoma;
    font-size: 16px;
    box-sizing: border-box;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    letter-spacing: 0px;
    padding: 15px 0;
    font-weight: 500;
}

#learn {
    width: 400px;
    min-width: 300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
    font-size: 22px;
    background: #C07548;
    padding: 10px;
}

#learn a:hover {
    color: rgba(255,255,255,0.8);
}

@media (max-width: 768px) {
    .container {
        padding: 0;
        margin: 0;
    }

    .item {
        margin: 15px 0;
        width: 100%;
    }

    #timeline {
        margin: 0;
        padding: 2px;
    }
}
