@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

/*==========================================================================
Base styles
==========================================================================*/

:root {
  --default-color: yellow;
}

html {
  /*border: 1px solid violet;*/
}

header {
  background-color: deepskyblue;
  border: 1px solid blue;
}

body {
  background-color: #f4f4f4;
  border: 2px solid #555555;
  /*font-family: 'Shadows Into Light', monospace;*/
  /*text-align: center;*/
  font: normal 16px Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

  a:hover {
    color: orangered;
  }

  a:active {
    color: green;
  }

  a:visited {
    
  }

.container {
  width: 80%;
  margin: auto;
}

.button{
  background-color: #333;
  color: white;
  padding: 10px 15px;
  border: none;  
}
.button:hover{
  background:red;
  color:#fff;
}
.box-1 {
  background-color: #333;
  color: #fff;
  border: 5px solid red;
  padding: 20px;
  margin: 20px 0;
}

  .box-1 h1 {
    font-family: Tahoma;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
  }

.box-2 {
  border: 3px dotted lightgray;
  padding: 20px;
  margin: 20px 0;
}

.categories {
  border: 3px solid #ccc;
  padding: 10px;
  border-radius: 15px;
}

  .categories h2 {
    text-align: center;
  }

  .categories ul {
    padding: 0;
    padding-left: 45px;
    list-style: square;
    list-style: none;
  }

  .categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333;
    list-style-image: url('../img/checkmark.png');
  }

.my-form {
  padding: 20px;
  margin-right: 20px;
}

  .my-form .form-group {
    padding-bottom: 15px;
  }

  .my-form label {
    display: block;
  }

  .my-form input[type="text"], .my-form textarea {
    padding: 8px;
    width: 100%;
  }


@media (max-width: 400px) {
  body {
    padding: 10px;
  }

  .container {
    width: 100%;
  }

  .box-1 {
    background-color: slategray;
    color: orangered;
    border: 3px solid orangered;
  }
  .my-form {
    padding: 10px;
    margin-right: 20px;
  }
    .box-1 h1 {
      line-height: 1.5em;
    }
}


/*form {
  background-color: violet;
  border: 2px solid blueviolet;
  margin: 15px;
  padding: 15px;
  width: auto;
}

div {
  background-color: yellowgreen;
  border: 2px solid red;
}

h1 {
}

p {
  background-color: #f4f4f4;
  line-height: 1.6em;
}
==========================================================================
id styles
==========================================================================
#header {
  border: 1px solid red;
  padding: 5px;
  margin: auto;
}

#survey-form {
  width: 450px;
  color: aliceblue;
  background-color: #1D385E;
  border-radius: 25px;
  margin: auto;
  padding: 50px;
}
==========================================================================
Class styles
==========================================================================


.red-text {
  color: red;
}

.img-div {
  display: grid;
  width: 450px;
  margin: auto;
  padding: 50px;
}

.img-small {
  width: 50%;
  margin: auto;
  border-radius: 50%;
}

.img-large {
  width: 450px;
  margin: auto;
  border-radius: 15%;
}
TODO::after address Grid-template grid-area
.img-border {
  border-color: #1D385E;
  border-width: 10px;
  border-style: solid;
}

.img-shadow {
}

.thanks {
  width: 50%;
  border: solid 2px black;
  border-radius: 10px;
  padding: 5px;
  margin: auto;
  text-align: center;
  background-color: white;
}



.row-tab {
  width: auto;
  margin: auto;
  text-align: left;
}

.background-img {
  background-image: url('/img/main-background1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

input, option {
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  margin: 10px 0px;
  text-align: left;
}
==========================================================================
Attribute styles
==========================================================================
[type='radio'] {
  margin: 15px auto 15px auto;
}

[type='checkbox'] {
  margin: 1.25em auto 1.25em auto;
}
==========================================================================
Media queries
==========================================================================

@media (max-width: 600px) {
  :root {
  }

  .img-small {
    padding-left: -10000px;
    width: 1px;
    visibility: hidden;
  }

  div {
    background-color: deepskyblue;
    border: 2px solid red;*/


